




footer {
  margin-top: 20px;
  display: block;
  text-align: end;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
  #temperature {
    font-size: 70px;
  }
  li {
    font-size: 15px;
  }
  .main-temp {
    position: relative;
    left: 20px;
  }
}
